[submodule "options/atf-fields"]
	path = options/atf-fields
	url = https://github.com/EugenBobrowski/atf-fields.git
[submodule "aq-resizer"]
	path = aq-resizer
	url = https://github.com/EugenBobrowski/Aqua-Resizer.git
[submodule "tgm-plugin-activation"]
	path = tgm-plugin-activation
	url = https://github.com/EugenBobrowski/TGM-Plugin-Activation.git
[submodule "wp-bootstrap-navwalker"]
	path = wp-bootstrap-navwalker
	url = https://github.com/EugenBobrowski/wp-bootstrap-navwalker.git
[submodule "wp-breadcrumbs"]
	path = wp-breadcrumbs
	url = https://github.com/EugenBobrowski/wp-breadcrumbs
[submodule "atf-pagination"]
	path = atf-pagination
	url = https://github.com/EugenBobrowski/atf-pagination.git
